<footer style="text-align:center">
  <div class="" style="padding-top:100px;">    
    <a href="https://oneprotech.com/" target="_blank"><img src="/images/logo.png" style="width:70px;" /> </a>
    <h2 style="font-size:20px">Rafael Gallardo A.</h2>
  </div>
</footer>